body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

.body-content {
    padding-left: 1.5em;
}

#timer {
    color: red;
    font-weight: bold;
}

/* jQueryUI fixes */
.ui-state-active {
    background: rgba(255, 234, 0, 0.61) !important;
}

.ui-selectmenu-button.ui-button {

}

/* Player page stuff */
.topRow {
    display: inline-block;
}


.topRow:not(:first-child) {
    margin-left: 0.7em;
}

#botStatuses .topRow:not(:first-child) {
    margin-left: 0 !important;
}

#roboName {
    margin: -0.6em 0.2em .3em;
    display: inline-block;
}

#statusCheck {
    margin-top: -0.5em;
}

/* Card stuff */
#cardsContainer {
    min-height: 525px; 
}

#cardsContainer li { 
    display: inline-block;
    margin-left: 0 auto;
}

.cardBody {
    position: relative;
    font-family: "Courier New", Courier, monospace
}

.cards.custom-state-active {
       background: #e9edbc;
  }

.cards li {  
      cursor: move;
  }
 
.slot, #sendcards { 
      height: 548px;
      width: 352px;
      padding: 0.25%;
      margin: 0.25%;
      float: left;
  }

#sendcards {
    border: 1px solid black;
    text-align: center;
    font-size: 0.9vw;
}

#sendcards img {
    width: 100%;
    cursor: pointer;
}

#shutdownLabel {
    font-size: 1.35vw;
}


.hidden {
    display: none;
}

.slot ul {
    list-style: none;
    padding: 0;
    margin-top: -3px;
}

.slot li {
    cursor: move;
}

 .slot h4 { 
      margin: 0 0 0.4em; 
  }
 
 .executing {
     background: #0E1AFF !important;
 }

 .order {
    position: absolute;
    top: -11%;
    right: 32%;
    font-size: 4em;
    color: #8bbe7c;
    font-weight: bold; 
 }

 .face {
     position: absolute;
     right: 30%;
     top: -25%;
     font-size: 11.8em;
     color: #8bbe7c;
     font-weight: bold;
 }

 .details {
     position: absolute;
     right: 28%;
     top: 45%;
     font-size: 2.5em;
     color: #8bbe7c;
     font-weight: bold;
 }

.robot-names {
    position: absolute;
    right: 28%;
    top: 100%;
    font-size: 2.5em;
    color: black;
    font-weight: bold;
}

 .locked {
     color: red;
 }

 /* Damage stuff */
.damageBox {
    display: inline-block;
    border: 1px solid orange;
    height: 0.7em;
    width: 0.7em;
    border-radius: 0.7em;
}

.filledDamageBox {
    background: red;
}

/* Flag boxes stuff */
.flagBox {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: inline-block;
}

.touchedFlag {
    background: green;
}

/* Life boxes stuff */
.lifeBox {
    display: inline-block;
    border: 1px solid purple;
    height: 0.7em;
    width: 0.7em;
    border-radius: 0.7em;
    background: blue;
}

.emptyLifeBox {
    background: none;
}

 /* Setup stuff */
.flags {
    height: 2.5em;
    width: 2.5em;
    background: green;
    border: 0.1em dotted black;
    text-align: center;
    cursor: move;
    text-align: center;
    font-size: 1em;
}

 .boardSquare .flags {
     position: absolute;
 }

 #numberOfPlayers {
     font-size: 1em;
 }

 #flagContainer {
     min-height: 22em;
     min-width: 5em;
     max-width: 7em;
     margin-top: 3em;
     margin-left: 5em;
 }

 #flagContainer .flags {
     margin-bottom: 1em;
 }

#board {
    margin-top: 1.5em;
    background-size: 100% auto;
    float: left;
    overflow: visible;
    white-space: nowrap;
}

.inline {
    float: left;
}

#timerContainer {
    margin-right: 0.3em;
}

select {
    width: 15em
}

.managePlayer {
    cursor: pointer;
}

.boardSquare {
    height: 2.6em;
    width: 2.6em;
    border: 0.05em solid black;
    display: inline-block;
    opacity: 0.8;
    position: relative;
    z-index: 0;
}

.boardRow {
    line-height: 0;
}

.boardSquare p {
    text-align: center;
    font-size: 1.3em;
    line-height: 0.2vh;
     z-index: 5;
}

.boardSquare > p {
    position: absolute;
}


 .left {
     float: left;
     margin-right: 1em;
 }

 /* Bot tuning stuff */

.tuneFactor {
    margin-bottom: 30px;
}

.ui-slider-handle {
    width: 3em !important;
    height: 1.6em !important;
    top: 50% !important;
    margin-top: -.8em !important;
    text-align: center !important;
    line-height: 1.6em !important;
}

 /* Bot re-entry */
  .bots {
     height: 2.5em;
     width: 2.5em;
     background: yellow;
     border: 0.05em dotted black;
     margin-bottom: 1.5em;     
     text-align: center;
     cursor: move;
 }

.boardSquare .bots {
      position: absolute;
  }

  #botContainer {
     min-height: 15em;
     min-width: 5em;
 }

/* Board maker */
#boardMaker {
    margin-top: 1.5em;
    background-size: 100% auto;
    float: left;
    max-height: 90vh;
    max-width: 80vw;
    overflow: auto;
    white-space: nowrap;
    padding: 1em;
}

#boardMaker .boardSquare {
    background: url("/images/maker/Background.png");
    line-height: 2.6em;
    vertical-align: middle;
    opacity: 1;
}

.element {
    height: 2.5em;
    width: 2.5em;
    border: 0.1em dotted black;
    text-align: center;
    cursor: move;
}

.element img {
    height: 2.5em;
    width: 2.5em;
}

#flagContainer .element {
    display: inline-block;
    margin: 0.1em;
}

.boardSquare .element {
    position: absolute;
    z-index: 5;
}

.boardSquare .element, .boardSquare img {
    height: 2.6em;
    width: 2.6em;
    border: none;
}

.boardSquare-hover {
    border: 0.05em solid black !important;
    background: #fdf5ce url("/lib/jqueryUI/images/ui-bg_glass_100_fdf5ce_1x400.png") 50% 50% repeat-x !important;
    font-weight: bold !important;
    color: #c77405 !important;
}

#trashCan {
    height: 5em;
    width: 5em;
    background-size: contain;
    border: 1px solid black;
}

#trashCan img {
    width: 100%;
    height: 100%;
}

.stackable {
    z-index: 10 !important;
}

.beam {
    z-index: 7 !important;
}