@{
    ViewBag.Title = "Tuning";
}
@section Scripts {
    <script type="text/javascript" src=@Url.Content("~/Scripts/tuning.js")></script>
}
<h1>Tune Robots</h1>
<div data-bots="@ViewBag.Robots" id="robots">
    <a id="done" href="/Setup/finishBotConfig">Done</a>
</div>
<div id="controls" style="width: 90%;">
    <p>Left Forward Speed</p>
    <div id="leftForwardSpeed" class="tuneFactor driveFactor">
        <div id="leftForwardSpeed-handle" class="ui-slider-handle"></div>
    </div>
    <p>Left Backward Speed</p>
    <div id="leftBackwardSpeed" class="tuneFactor driveFactor">
        <div id="leftBackwardSpeed-handle" class="ui-slider-handle"></div>
    </div>
    <p>Right Forward Speed</p>
    <div id="rightForwardSpeed" class="tuneFactor driveFactor">
        <div id="rightForwardSpeed-handle" class="ui-slider-handle"></div>
    </div>
    <p>Right Backward Speed</p>
    <div id="rightBackwardSpeed" class="tuneFactor driveFactor">
        <div id="rightBackwardSpeed-handle" class="ui-slider-handle"></div>
    </div>
    <p>Z Threshold</p>
    <div id="Z_threshold" class="tuneFactor navFactor">
        <div id="Z_threshold-handle" class="ui-slider-handle"></div>
    </div>
    <p>Turn Boost</p>
    <div id="turnBoost" class="tuneFactor navFactor">
        <div id="turnBoost-handle" class="ui-slider-handle"></div>
    </div>
    <p>Drift Threshold</p>
    <div id="drift_threshold" class="tuneFactor navFactor">
        <div id="drift_threshold-handle" class="ui-slider-handle"></div>
    </div>
    <p>Turn Drift Threshold</p>
    <div id="turn_drift_threshold" class="tuneFactor navFactor">
        <div id="turn_drift_threshold-handle" class="ui-slider-handle"></div>
    </div>
    <p>Turn Factor</p>
    <div id="turnFactor" class="tuneFactor navFactor">
        <div id="turnFactor-handle" class="ui-slider-handle"></div>
    </div>

    <p>Robot name: <input type='text' name="robotName" id="robotName" /></p>

    <a href="#" id="speedtest">Speed Test</a> <a href="#" id="navtest">Navigation Test</a> <a href="#" id="finish">Finish</a>
</div>