<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/jqueryUI/jquery-ui.css" />
    <link rel="stylesheet" href="~/lib/jqueryUI/jquery-ui.structure.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <div style="clear: both"></div>
    </div>
    <script type="text/javascript" src=@Url.Content("~/lib/jquery/jquery.min.js")></script>  
    <script type="text/javascript" src=@Url.Content("~/lib/jqueryUI/jquery-ui.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/lib/jqueryPunch/jquery.ui.touch-punch.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/lib/howler/howler.min.js")></script>
    <script type="text/javascript" src=@Url.Content("~/lib/signalr/jquery.signalR.js")></script>  
    @RenderSection("scripts", required: false)
</body>
</html>