body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.clear {
    clear: both;
}

.body-content {
    padding-left: 1.5em;
}

#timer {
    color: red;
    font-weight: bold;
}

/* jQueryUI fixes */
.ui-state-active {
    background: rgba(255, 234, 0, 0.61) !important;
}

/* Card stuff*/
#cardsContainer {
    min-height: 525px; 
}

#cardsContainer li { 
    display: inline-block;
    margin-left: 0 auto;
}

.cardBody {
    position: relative;
    font-family: "Courier New", Courier, monospace
}

.cards.custom-state-active {
       background: #e9edbc;
  }

.cards li {  
      cursor: move;
  }
 
.slot, #sendcards { 
      height: 548px;
      width: 352px;
      padding: 0.25%;
      margin: 0.25%;
      float: left;
  }

#sendcards {
    border: 1px solid black;
    text-align: center;
    font-size: 0.9vw;
}

#sendcards img {
    width: 100%;
    cursor: pointer;
}

#shutdownLabel {
    width: 100%;
    font-size: 1.23vw;
}


.hidden {
    display: none;
}

.slot ul {
    list-style: none;
    padding: 0;
    margin-top: -3px;
}

.slot li {
    cursor: move;
}

 .slot h4 { 
      line-height: 16px; 
      margin: 0 0 0.4em; 
  }
 
 .executing {
     background: #0E1AFF !important;
 }

 .order {
    position: absolute;
    top: -11%;
    right: 32%;
    font-size: 4em;
    color: #8bbe7c;
    font-weight: bold; 
 }

 .face {
     position: absolute;
     right: 30%;
     top: -25%;
     font-size: 11.8em;
     color: #8bbe7c;
     font-weight: bold;
 }

 .details {
     position: absolute;
     right: 28%;
     top: 45%;
     font-size: 2.5em;
     color: #8bbe7c;
     font-weight: bold;
 }

 .locked {
     color: red;
 }

 /* Damage stuff */
.damageBox {
    display: inline-block;
    border: 1px solid orange;
    height: 0.7em;
    width: 0.7em;
    border-radius: 0.7em;
}

.topRow {
    display: inline-block;
}

.topRow:not(:first-child) {
   margin-left: 0.7em;
}

/* Flag boxes stuff */
.flagBox {
    width: 1em;
    height: 1em;
    border: 1px solid black;
    display: inline-block;
}

/* Life boxes stuff */
.lifeBox {
    display: inline-block;
    border: 1px solid purple;
    height: 0.7em;
    width: 0.7em;
    border-radius: 0.7em;
}

.touchedFlag {
    background: green;
}

 /* Setup stuff*/
 .flags {
     height: 2.5em;
     width: 2.5em;
     background: green;
     border: 0.1em dotted black;     
     text-align: center;
     cursor: move;
 }

 #numberOfPlayers {
     font-size: 1em;
 }

 #flagContainer {
     min-height: 22em;
     min-width: 5em;
     margin-top: 3em;
     margin-left: 5em;
 }

 #flagContainer .flags {
     margin-bottom: 1em;
 }

#board {
    margin-top: 1.5em;
    background-size: 100% auto;
}

.inline {
    float: left;
}

#timerContainer {
    margin-left: 1em;
}

select {
    width: 15em
}

.managePlayer {
    cursor: pointer;
}

 .boardSquare {
     height: 2.6em;
     width: 2.6em;
     border: 0.05em solid black;
     float: left;
     opacity: 0.8;
 }

.boardSquare p {
    text-align: center;
    font-size: 1.3em;
    line-height: 0.2vh;
}

 .left {
     float: left;
     margin-right: 1em;
 }

 /* Bot re-entry */
  .bots {
     height: 2.5em;
     width: 2.5em;
     background: yellow;
     border: 0.05em dotted black;
     margin-bottom: 1.5em;     
     text-align: center;
     cursor: move;
 }

  #botContainer {
     min-height: 15em;
     min-width: 5em;
 }